body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 36px;
}

.flashcard {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.flashcard:hover {
    transform: scale(1.05);
}

.input-section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-color: darkcyan;
    box-shadow: 0 0 5px rgba(0, 140, 140, 0.7);
}

button {
    color: white;
    background-color: darkcyan;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: #008080;
    transform: scale(1.1);
}

.card {
    margin: 20px 0;
    transform: scale(1);
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.term,
.definition {
    border: solid 5px black;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.definition.show {
    opacity: 1;
}

.card.show .term,
.card.show .definition {
    opacity: 1;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.message.success {
    background-color: green;
    color: white;
}

.message.error {
    background-color: red; 
    color: white;
}







